<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.orcchg.direcall.github_repo">

    <dist:module
        dist:instant="false"
        dist:title="@string/repo_name">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>

</manifest>